// LINKS
.flexHeaderItems {
  font-weight: 500;
  box-sizing: border-box;
  margin: 8px 10px 8px 10px;
  padding: 12px;
  border: solid 2px #ff864000;
  border-radius: 8px;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.flexHeaderItems:hover {
  border: solid 2px #ff864096;
  border-radius: 8px;
  background-color: #ffffffb3;
}

.linkButton {
  font-weight: 600;
  border: solid 2px #ff8540;
  border-radius: 8px;
  background-color: #ff8640;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  color: #ffffff;
}

.linkButton:hover {
  background-color: #ff9f68;
  border: solid 2px #ff9f68;
}

.logIn {
  border: solid 2px #ff8540;
  border-radius: 8px;
  background-color: #ffffff00;
  color: #000000;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.logIn:hover {
  background-color: #ff9f68;
  border: solid 2px #ff9f68;
  color: #ffffff;
}

// ids

// ELEMENTS

body {
  margin: 0;
  padding: 0;
  background-color: #fdf2ec;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  width: 100%;
}

// CLASSES

.flexHeaderMenu {
  display: flex;
  width: 100%;
  max-width: 1280;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
}

.flexHeaderItems:nth-last-child(2) {
  margin-left: 42px;
}

.flexImage {
  margin: 4px;
}

.flexImage:last-of-type {
  margin-right: 42px;
}
