// VARIABLES

$backgroundColorWhite: #ffffff;
$backgroundColorPeach: #fdf2ec;
$backgroundColorBlue: #ecf7fd;
$backgroundColorDarkBlue: #b4dcfa;

$frameColorOrange: #ff6928;
$frameColorGrey: #ececec;
$frameColorPurple: #e3b4fa;
$frameColorDark: #222222;
$frameColorPeach: #ffcd9f;

// LINKS
.flexHeaderItems {
  font-weight: 500;
  box-sizing: border-box;
  margin: 8px 10px 8px 10px;
  padding: 12px;
  border: solid 2px #ff864000;
  border-radius: 8px;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.flexHeaderItems:hover {
  border: solid 2px #ff864096;
  border-radius: 8px;
  background-color: #ffffffb3;
}

.linkButton {
  font-weight: 600;
  border: solid 2px #ff8540;
  border-radius: 8px;
  background-color: #ff8640;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  color: #ffffff;
}

.linkButton:hover {
  background-color: #ff9f68;
  border: solid 2px #ff9f68;
}

.logIn {
  border: solid 2px #ff8540;
  border-radius: 8px;
  background-color: #ffffff00;
  color: #000000;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.logIn:hover {
  background-color: #ff9f68;
  border: solid 2px #ff9f68;
  color: #ffffff;
}

// ELEMENTS

body {
  margin: 0;
  padding: 0;
  background-color: #fdf2ec;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
}

// CLASSES

.flexHeaderMenu {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.flexHeaderItems:nth-last-child(2) {
  margin-left: 52px;
}

.flexImage {
  margin: 4px;
}

.flexImage:last-of-type {
  margin-right: 52px;
}

.mottoCard {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: center;
  width: 80%;
  max-width: 1280px;
  place-items: center;
  margin: 80px 0 80px 0;
}

.mottoItem {
  max-width: 760px;
  font-size: 48px;
  justify-self: left;
}

.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.white {
  background-color: $backgroundColorWhite;
}

.blue {
  background-color: $backgroundColorBlue;
}

.darkBlue {
  background-color: $backgroundColorDarkBlue;
}

.dark {
  background-color: $frameColorDark;
}
