// VARIABLES

$backgroundColorWhite: #ffffff;
$backgroundColorPeach: #fdf2ec;
$backgroundColorBlue: #ecf7fd;
$backgroundColorDarkBlue: #b4dcfa;

$frameColorOrange: #ff6928;
$frameColorOrangeLight: #ffcd9f;
$frameColorGrey: #ececec;
$frameColorPurple: #e3b4fa;
$frameColorDark: #222222;
$frameColorPeach: #ffcd9f;
$frameColorBlue: #b4dcfa;

$frameBackgroundWhite: #ffffff;
$frameBackgroundBlue: #ecf7fd;
$frameBackgroundPurple: #f8f3ff;
$frameBackgroundOrange: #fdf2ec;
$frameBackgroundGrey: #cbe7fc;

// LINKS
.flexHeaderItems {
  font-weight: 500;
  box-sizing: border-box;
  margin: 8px 10px 8px 10px;
  padding: 12px;
  border: solid 2px #ff864000;
  border-radius: 8px;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.flexHeaderItems:hover {
  border: solid 2px #ff864096;
  border-radius: 8px;
  background-color: #ffffffb3;
}

.linkButton {
  font-weight: 600;
  border: solid 2px $frameColorOrange;
  border-radius: 8px;
  background-color: $frameColorOrange;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  color: #ffffff;
}

.linkButton:hover {
  background-color: $frameColorOrangeLight;
  border: solid 2px $frameColorOrangeLight;
}

.logIn {
  border: solid 2px #ff8540;
  border-radius: 8px;
  background-color: #ffffff00;
  color: #000000;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.logIn:hover {
  background-color: #ff9f68;
  border: solid 2px #ff9f68;
  color: #ffffff;
}

.flowLink {
  color: $frameColorOrange;
}

.flowLink:hover {
  text-decoration: underline;
}

.flowLinkDark {
  color: $frameColorDark;
  transition: color 0.5s ease-in-out;
}

.flowLinkDark:hover {
  text-decoration: underline;
  color: $frameColorOrange;
}

li.linkBar {
  color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
}

.linkBright {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

a.linkBright {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
}

a.linkBright:hover {
  text-decoration: underline;
  color: $frameColorOrange;
}

a.linkGrey {
  color: #9f9f9f;
  transition: color 0.25s ease-in-out;
}

a.linkGrey:hover {
  text-decoration: underline;
  color: $frameColorOrange;
}

// ELEMENTS

section {
  padding-bottom: 100px;
}

footer {
  padding-bottom: 50px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fdf2ec;
  font-family: 'Space Grotesk', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 12px;
  margin: 0 0 16px 0;
  font-size: 20px;
  font-weight: 500;
  border-left: 2px solid;
  border-color: $frameColorBlue;
}

.liPurpleBullet {
  border-color: $frameColorPurple;
}

.liPeachBullet {
  border-color: $frameColorPeach;
}

.title {
  margin-top: 120px;
}

// CLASSES

.flexHeaderMenu {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.flexHeaderItems:nth-last-child(2) {
  margin-left: 52px;
}

.flexImage {
  margin: 4px;
}

.flexImage:last-of-type {
  margin-right: 52px;
}

.mottoCard {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: center;
  width: 80%;
  max-width: 1280px;
  place-items: center;
  margin: 80px 0 40px 0;
}

.mottoItem {
  max-width: 760px;
  justify-self: left;
}

.mottoItemShrink {
  width: 70%;
}

.mottoImage {
  margin-right: 80px;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexItemBox {
  display: flex;
  margin: 20px;
}

.flexItemBoxSmall {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-items: center;
}

.flexDirectionColumn {
  flex-direction: column;
}

.contentFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.contentItem {
  margin-right: 16px;
}

.contentAlign {
  display: flex;
  align-items: center;
}

.gridThreeFr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  max-width: 1280px;
  justify-items: center;
  gap: 15px;
  width: 70%;
}

.gridItem {
  height: auto;
  width: 90%;
  max-width: 350px;
}

.gridFourFr {
  display: grid;
  grid-template-columns: repeat(6, 1Fr);
  max-width: 1280px;
  justify-items: center;
  gap: 15px;
  width: 70%;
}

.white {
  background-color: $backgroundColorWhite;
}

.blue {
  background-color: $backgroundColorBlue;
}

.darkBlue {
  background-color: $backgroundColorDarkBlue;
}

.dark {
  background-color: $frameColorDark;
  color: #ffffff;
}
h1 {
  font-size: 42px;
  font-weight: 500;
}
// fonts
h2 {
  font-size: 28px;
  font-weight: 700;
}

.firmName {
  font-size: 22px;
}

.highLightPurple {
  border-color: $frameColorPurple;
  border-style: solid;
  background-color: $frameColorPurple;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}

.highLightOrange {
  border-color: $frameColorOrangeLight;
  border-style: solid;
  background-color: $frameColorOrangeLight;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}

.highLightBlue {
  border-color: $frameColorBlue;
  border-style: solid;
  background-color: $frameColorBlue;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}

.highLightDark {
  border-color: $frameColorDark;
  border-style: solid;
  background-color: $frameColorDark;
  border-radius: 10px;
  padding: 0 8px 0 8px;
  color: #ffffff;
}

.punchText {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.5;
}

.punchTextSmall {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
}

.greyText {
  color: #747d85;
  margin-right: 40px;
}

.smallText {
  font-size: 12px;
}

// Images

.logoSpace {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.logoMargin {
  margin-right: 16px;
  width: 42px;
}

.logoGrey {
  margin: 0;
  padding: 0;
}

// FANCY BOXES

.structureBox {
  width: 30%;
  padding: 20px;
  line-height: 1.5;
}

.fancyBox {
  border-width: 3px;
  border-style: solid;
  border-color: $frameColorDark;
  border-radius: 46px;
  padding: 50px;
  box-shadow: 4px 4px 0 $frameColorDark;
  box-sizing: border-box;
}
.big {
  padding-bottom: 80px;
}

.framePurple {
  border-color: $frameColorPurple;
  box-shadow: 4px 4px 0 $frameColorPurple;
}
.framePeach {
  border-color: $frameColorPeach;
  box-shadow: 4px 4px 0 $frameColorPeach;
}
.frameBlue {
  border-color: $frameColorBlue;
  box-shadow: 4px 4px 0 $frameColorBlue;
}
.frameGrey {
  border-color: $frameColorGrey;
  box-shadow: 4px 4px 0 $frameColorGrey;
}
.frameOrange {
  border-color: $frameColorOrange;
  box-shadow: 4px 4px 0 $frameColorOrange;
}
.frameOrangeLight {
  border-color: $frameColorOrangeLight;
  box-shadow: 4px 4px 0 $frameColorOrangeLight;
}
.noFrame {
  border-color: #00000000;
  box-shadow: none;
  border-radius: 16px;
}

.boxBackgroundWhite {
  background-color: $frameBackgroundWhite;
}
.boxBackgroundBlue {
  background-color: $frameBackgroundBlue;
}
.boxBackgroundPurple {
  background-color: $frameBackgroundPurple;
}
.boxBackgroundOrange {
  background-color: $frameBackgroundOrange;
}
.boxBackgroundGrey {
  background-color: $frameBackgroundGrey;
}
.boxBackgroundDark {
  background-color: $frameColorDark;
  color: #ffffff;
}

.lessPadding {
  padding: 24px;
}

.smallerText {
  font-size: 22px;
  font-weight: 700;
}
